<header class="header">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <nav class="main-nav">
          <ul class="nav__list list-reset dragscroll">
            {% for item in site.data.settings.menu_settings.menu_items %}
            <li class="nav__item{% if item.sub_items %} has-submenu{% endif %}">
              <a href="{{ item.url | relative_url }}" class="nav__link{% if page.url == item.url %} active-link{% endif %}">
                {{ item.title }}
              </a>
              {% if item.sub_items %}
              <ul class="sub-nav__list">
                {% for sub_item in item.sub_items %}
                <li class="sub-nav__item">
                  <a href="{{ sub_item.url | relative_url }}" class="sub-nav__link">
                    {{ sub_item.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
