{% if site.data.settings.research.enable %}
<!-- begin research -->
<section class="section research">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            {% if site.data.settings.research.research_title %}
              <h2 class="section__title">
                <a href="{{ site.data.settings.research.research_page_url }}">{{ site.data.settings.research.research_title }}</a>
              </h2>
              <a class="section__link" href="{{ '/research' | relative_url }}">Read all <i class="fa-solid fa-arrow-right-long"></i></a>
            {% else %}
              <h2 class="section__title">Research</h2>
            {% endif %}
          </div>
          <p class="section__description">{{ site.data.settings.research.research_description }}</p>
          <div class="research-content">
              <p>My research focuses on struggles over indigeneity, territory, and resource extraction in Latin America, grounded in over 15 years of ethnographic work in Bolivia’s Chaco region. Drawing on anti-colonial, Marxist, and Foucaultian traditions, I explore how colonial relations are reproduced and contested at resource frontiers, with particular attention to Indigenous perspectives and rural voices. My interdisciplinary approach spans political ecology, postcolonial geographies, and legal geography, using methods such as participatory research, counter-mapping, and documentary filmmaking to examine the complex dynamics of land, law, and extractivism in shaping Indigenous autonomy and citizenship.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end research -->
{% else %}
<!-- Debug Information: Research section is disabled -->
<p>Research section is disabled in settings.</p>
{% endif %}
