{% if site.data.settings.articles.enable %}
<!-- begin articles -->
<section class="section articles">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            {% if site.data.settings.articles.articles_title %}
              <h2 class="section__title">
                <a href="{{ site.data.settings.articles.articles_page_url }}">{{ site.data.settings.articles.articles_title }}</a>
              </h2>
              <a class="section__link" href="{{ '/publications' | relative_url }}">See my publications<i class="fa-solid fa-arrow-right-long"></i></a>
            {% else %}
              <h2 class="section__title">Articles</h2>
            {% endif %}
          </div>
          <!-- <p class="section__description">{{ site.data.settings.articles.articles_description }}</p> -->
          <div class="articles-content">
            <ul>
              <!-- <h2>2023</h2> -->
              <ul>
                <li>
                  <article>
                    <p>Anthias, P., Cariola, M., Krøijer, S., & Rasmussen, M.B. (2024). <a href="https://dx.doi.org/10.1353/lag.2024.a948095" target="_blank"><span class="blue">Leaks: The Politics of Awkward Circulations in Latin America's Geographies of Energy Production</span></a>. <i>Journal of Latin American Geography,</i> 23(3), 8-23.</p>
                  </article>
                </li>
                <li>
                  <article>
                    <p>Anthias, P. (2024). <a href="https://muse.jhu.edu/pub/15/article/948099" target="_blank"><span class="blue">Cuts, Flows, and Leaks: Enclaving Practices and Countertopographies at Bolivia's Hydrocarbon-Conservation Frontier [Cortes, flujos y fugas: prácticas de enclavamiento y contratopografías en la frontera hidrocarburosconservación de Bolivia]</span></a>. <i>Journal of Latin American Geography,</i> 23(3), 138-166.</p>
                  </article>
                </li>
                <li>
                  <article>
                    <p>Anthias, P., & Asher, K. (2024). <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/anti.13078" target="_blank"><span class="blue">Indigenous Natures and the Anthropocene: Racial Capitalism, Violent Materialities, and the Colonial Politics of Representation</span></a>. <i>Antipode</i>.</p>
                  </article>
                </li>
                
                <li>
                  <article>
                    <p>Anthias, P., & López Flores, P. C. (2023). <a href="https://doi.org/10.4324/9781003267461" target="_blank"><span class="blue">Neoextractivism and Territorial Disputes in Latin America: Social-ecological Conflict and Resistance on the Front Lines</span></a>. <i>Routledge</i>.</p>
                  </article>
                </li>
              
                <li>
                  <article>
                    <p>Anthias, P. (2023). <a href="https://doi.org/10.1177/20438206231171202" target="_blank"><span class="blue">Countertopographies and the Futures of Geographical Thought</span></a>. <i>Dialogues in Human Geography</i>.</p>
                  </article>
                </li>
            
            
              </ul>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end articles -->
{% else %}
<!-- Debug Information: Articles section is disabled -->
<p>Articles section is disabled in settings.</p>
{% endif %}
