.book-gallery {
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: 1px;
}
.book-item {
  display: flex;
  align-items: left;
  gap: 20px;
}
.book-item.reverse {
  flex-direction: row-reverse;
}
.book-image img {
  max-width: 200px; 
  height: auto;
  border-radius: 8px;
}
.book-details {
  flex: 1;
}
.book-details h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}
.book-details p {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .book-item, .book-item.reverse {
    flex-direction: column;
    text-align: left;
  }
  .book-item.reverse {
    flex-direction: column-reverse;
  }
  .book-image img {
    max-width: 100%; 
  }
  .book-details {
    max-width: 100%;
  }
}