---
layout: default
title: Films
description: As part of my project on extractive enclaves and unintended flows in Latin America, I directed and produced a 29-min open-access documentary <i><b>"Don't Touch Tariquía"</i></b> which charts the emergence and remarkable success of rural women's resistance to extraction in one area of the national park. In 2023, I gained a Diploma in Creative Documentary Film-making at the Escuela Internacional de Cine y Television in Cuba, where I made a film about struggles over housing in a nearby <i>textile village</i>. Click on the video below to learn more.
page_cover: 
---

<!-- begin page -->
<!-- begin page -->
<div class="page container">

  <div class="page-head">
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.description %}
    <p class="page-section-description">{{ page.description }}</p>
    {% endif %}
  </div>

  <div class="page__video">
    <div class="row">
      {% for video in site.videos reversed %}
      <article class="video col col-6 col-t-12 animate">
        <div class="video__content">
          {% if video.image %}
          <a href="{{ video.url | relative_url }}" class="video__image">
            <img class="lazy" data-src="{{ video.image | relative_url }}" alt="{{ video.title }}">
          </a>
          {% endif %}
          <div class="video__info">
            <span class="video__icon">
              <i class="fa-brands fa-youtube"></i>
            </span>
            <h3 class="video__title"><a href="{{ video.url | relative_url }}">{{ video.title }}</a></h3>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>

</div>
<!-- end page -->
